
@media screen and (min-width: 767px) { 
  .wrapper{
  box-sizing: border-box;
  width:100%;
.header{
  height: 200px;
  width: 70%;
  margin:0 auto;
  box-sizing: border-box;
  .header_left{
   float: left;
   h2{
    font-size:3rem;
    color:rgb(66, 66, 66);
    margin-top:100px;
    font-family: fantasy;
   }
  }
  .header_right{
    float:right;
    color:#333;
    .lists{
      list-style: none;
      font-size:1.4rem;

      .list{
        float:left;
        margin-left:40px;
        padding-top:13vh;
         &:hover{
          color:black;
          border-bottom: solid 3px #333;
        }
       & a{
        text-decoration: none;
        color:#333;
        &:hover{
          color:black;
        } 
       }
      }
    }
  }
}

}
.emo-image{
  height:800px;
  background-image:url("main.jpg");
  background-size: cover;
  h3{
     -ms-writing-mode: tb-lr;
     writing-mode: vertical-lr;
     float: right;
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 3.5rem;
     padding-right:100px;
     margin:50px;
  }
  .support_you_laptop{
    padding-top:150px;
  }

}
.main{
  background-color:white;

  .main_top{
    width:60%;
    margin:0 auto;
  //  background-color: green;
    height:100vh;
    .myprofile{
      & h1{
      border-bottom: double 7px  rgb(172, 172, 172);;
      box-sizing: border-box;
     width:400px;
     margin: 0 auto;
     font-size: 3rem;
     text-align: center;
     padding-top:10vh;
     color:rgb(66, 66, 66);
      }
    }
    .my_photo{
      border-radius: 25%;
      float: left;
      margin-top:15vh;
    }
    .phone_my_photo{
      display: none;
    }
    .myprofile-text{
      float: right;
      & h2{
        font-size:2rem;
        margin-top:5vh;
        text-align: center;
        border-bottom: solid 3px rgb(172, 172, 172);
        color:rgb(66, 66, 66);
      }
      .career{
        
        text-align: center;
      }
      .myprofile-text-top{
        margin-top:3vh;
      }
      & h3{
        font-size:1.5rem;
        padding-top:5vh;
        width:30%;
        margin:0 auto;
        border-bottom: solid 3px rgb(172, 172, 172);
        text-align: center;
      }
      & p{
        font-size:1.2rem;
        margin-top:1.5vh;
        text-align: center;
      }
    }
  }
  .main_content{
    .WORKS{
      height:100vh;
    margin: 0vh 10%;
  //  background-color: aqua;
      & h1{
        border-bottom: double 7px  rgb(172, 172, 172);;
          box-sizing: border-box;
         width:400px;
         margin: 0 auto;
         font-size: 3rem;
         text-align: center;
         padding-top:10vh;
         color:rgb(66, 66, 66); 
         letter-spacing: 1rem;
      }
     .work_main{
       margin-top:10vh;
       margin-left:6vw;
       .work_content{
         float: left;
         height:50vh;
         width:30%;
         text-align: center;
         word-wrap: break-word;
         background-color:rgb(172, 172, 172);
         margin:5vh 0.25vw;
         box-sizing: border-box;
         padding:5vh 2vw;
         border-radius: 10%;
         .work_icon{
           color:white;
          }
          .engineer,.youtube{
            margin-top:4vh;
          }
            h3{
             font-size:1.5rem;
             margin:2vh 0;
             font-weight: bold;
             color:rgb(66, 66, 66);
           }
           p{
             font-size:1.2rem;
             color:white;
           }
         }
       }
     }
   }
  .main_buttom{
    height: 120vh;
    .portfolio{
      margin:0 10%;
       h1{
      border-bottom: double 7px  rgb(172, 172, 172);
      box-sizing: border-box;
     width:400px;
     margin: 0 auto;
     font-size: 3rem;
     text-align: center;
     padding-top:10vh;
     color:rgb(66, 66, 66); 
     letter-spacing: 1rem;
      }
      h2 {
        margin-left:5vw;
        padding-left:1vw;
        width:17%;
        font-size:2rem;
        margin-top:5vh;
        margin-right:30vh;
        border-bottom: solid 3px rgb(172, 172, 172);
        color:rgb(66, 66, 66);
      }
      .image{
        & img{
          display: block;
          margin: 10vh auto;
          border:solid 2px rgb(172, 172, 172);
          transition: all 0.6s ease 0s;
          &:hover{
            border: dashed 4px rgb(66, 66, 66);
            cursor: pointer;
            transform: scale(1.1, 1.1);
          }
        }

      }
      .more{
        width:20%;
        position: relative;
        z-index: 2;
        background-color: #fff;
        border: 2px solid rgb(66, 66, 66);
        color: #333;
        line-height: 50px;
        overflow: hidden;
        float:right;
        & p{
          font-size:1.5rem;
          color:rgb(66, 66, 66);
          text-align: center;
        }
        & :hover{
          letter-spacing: 5px;
        }
      }
    }
}
}
.text-emo{
  display: none;
}
.profile_title_phone{
  display: none;
}
.image_phone{
  display: none;
}
}
@media screen and (max-width: 767px ){

}



@media screen and (max-width:479px){
  .wrapper{
    height: 100vh;
    .header{
      height:150px;
     
      .header_left{
        h2{
          font-weight: bold;
          font-size: 2rem;
          font-family: fantasy;
          display: block;
          height:80px;
          margin: 0 auto;
          text-align: center;
          padding-top:20px;
          box-sizing: border-box;
        }
        .site_name{
          display: none;
        }
      }
      .header_right{
        height:50px;
        .lists{
          width:85%;
          margin:0 auto;
          height:50px;
          .list{
            font-size: 1.5rem;
            color: #333;
            float: left;
            margin: 0 auto;
            width:50%;
            text-align: center;
            box-sizing: border-box;
            font-weight: 400;
            .blog{
              text-decoration: none;
              color: #333;
              font-weight: 400;
            }
          }
          li:hover{
            border-bottom: double 3px #333;
          }
        }
      }
    }
  }
  .main{
  text-align: center;
    .main_top{
      .myprofile{
        box-sizing: border-box;
        text-align: center;
        color:#333;
        width:80%;
        margin:0 auto;
        
        .profile_title{
          display: none;
        }
      } 
    }
        .phone-image{
          height:300px;
          background-image:url('main.jpg');
          background-size: 400px 300px;
          h3{
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            float: right;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.5rem;
            margin-right:10px;
            margin-top:10px;
          }
          .support_you{
            margin-top: 100px;
          }
        }
        .profile_title_phone{
          font-size: 1.5rem;
          color: #333;
          margin-top: 20px;
          border-bottom: double 3px rgb(172, 172, 172);;
          width:60%;
          margin:0 auto;
          padding-top: 40px;  
        }
        .myprofile-text{
          margin:0 auto;
          width:80%;
          h2{
            margin-top:20px;
            font-size: 1.5rem;
          }
          .career{
            font-size: 1.3rem;
            font-weight: 500;
            border-bottom: solid 2px rgb(172, 172, 172);;
            width:20%;
            margin:0 auto;
            padding-top:30px;
            margin-bottom: 10px;
          }
          .myprofile-text-top{
            margin-top: 20px;
          }
          .status{
            font-size: 1.3rem;
            font-weight: 500;
            border-bottom: solid 2px rgb(172, 172, 172);;
            width:20%;
            margin:0 auto;
            padding-top:30px;
            margin-bottom: 10px;
          }
        }
        .main_content{
          margin:0 auto;
          width:80%;
          .WORKS h1{

            font-size: 1.3rem;
            font-weight: 500;
            border-bottom: solid 2px rgb(172, 172, 172);
            width:40%;
            margin:0 auto;
            padding-top:20px;
            margin-bottom: 20px;
          }
              .work_content{
                background:rgb(172, 172, 172);
                width:100%;
                margin: 0 auto;
                height:300px;
                border-radius: 10%;
                padding:10px;
                box-sizing: border-box;
                .work_icon{
                  margin-top:10px;
                }
                .engineer_icon{
                  margin-top:20px;
                }
                .youtube_icon{
                  margin-top:30px;
                }
                & h3{
                  font-size: 1.3rem;
                  color:white;
                  font-weight: 600;
                }
                & p{
                  width:80%;
                  margin:0 auto;
                  display:block;
                }
              }
              .engineer-move{
                margin-top:20px;
              }
              .youtube_content{
                margin-top:20px;
              }
        }
        .main_buttom{
          .portfolio h1{
            font-size: 1.3rem;
            font-weight: 500;
            border-bottom: solid 2px rgb(172, 172, 172);;
            width:40%;
            margin:0 auto;
            padding-top:20px;
            margin-bottom: 10px;
          }
          .chat-space {
            margin:0 auto;
            width:70%;
          }
          h2{
            text-align: left;
            margin:0 auto;
            width:80%;
            font-size:1.2rem;
            margin-bottom:20px;
            
          }
          .more{
            text-align: right;
            margin:0 auto;
            width:70%;
          }
        }
  .image{
    display: none;
  }
  }
  .my_photo{
  display: none;
  }
  .emo-image{
    display: none;
  }
}