!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyPortfolio
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href:"https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700", rel:"stylesheet"}
  %body
    = yield
